.about {
    margin-top: 20vh;
    @media screen and (min-width: '1000px') {
        margin-top: 0;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
    &__image {
        height: 70vh;
    }
    &__content {
        max-width: 380px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__description {
        line-Height: 1.6;
        font-Size: 1.1rem;
    }
}